{{> head }}
    
    {{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Super Mario Bros</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ipsa!</p>
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/mario.jpg" alt="imagen de mario">
        </div>
    </div>

{{> footer }}